.input-form {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 50vw;
    margin-left: 25vw;
    border: 1px solid lightgray;
}

.input-form .title {
    width: 70%;
    padding: 10px 2.5%;
}

.input-form .author {
    width: 20%;
    padding: 10px 2.5%;
}

.input-form .content {
    width: 90%;
    padding: 10px 10%;
}