.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 5vmin;
    pointer-events: none;
    align-content: start;
}

.App-header {
    background-color: #282c34;
    min-height: 5vh;
    display: flex;
    flex-direction: row;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-links {
    margin-left: auto;
    display: flex;
}

.App-link {
    color: #61dafb;
    font-size: calc(10px + 1vmin);
    padding: 10px;
    align-self: end;
}

.divider {
    font-size: calc(10px + 1vmin);
    padding: 10px;
}
@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
